// SCSS variables
$primary-color: black;
$accent-color: orange;
$text-color: #fff;

// MAP - key value pair, 
// can create map of colors and different things 

$font-weights:(
 "regular": 400,
 "medium": 500,
 "bold": 700,
);

body{
 background: $accent-color;
 color: $text-color;
}

// nesting
// nest when necessary
//otherwise REUSE CLASSES
.main{
 width: 80%;
 margin: 0 auto;
 // & = parent, in this case, .main
 // #{&} = everything before it plus the parent
 #{&}__paragraph{
   font-weight: map-get($font-weights, bold);
   &:hover{
    color: pink;
   }
 }
}